/*** font ***/
/* DoHyeon */
@font-face {
    font-family: 'DoHyeon';
    font-style: normal;
    font-weight: 300;
    src: local('DoHyeon'),
        url('../fonts/DoHyeon.woff2') format('woff2'), 
        url('../fonts/DoHyeon.woff') format('woff'),
        url('../fonts/DoHyeon.ttf') format('truetype'),
        url('../fonts/DoHyeon.otf') format('opentype'),
        url('../fonts/DoHyeon.eot') format('embedded-opentype');
}

html {
	background: url('../images/bg.png') no-repeat left top;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

#container, .wrapper {
	width: 100%;
	text-align: center;
}

.wrapper {
	position: relative;
}

.gameFrame {
	margin: 0 auto;
	width: 1115px;
	height: 895px;
	background: url('../images/game.png') no-repeat left top;
	background-size: cover;
	z-index: 1;
}

#gameCanvas {
	margin-top: 153px;
	z-index: 2;
}